# Ignore Everything
/*
/*/

# Except These
!/cmake/
!/images/
!/include/
!/manifests/
!/src/
!/tests/
!/.gitignore
!/client.cc
!/CMakeLists.txt
!/Dockerfile
!/entrypoint.sh
!/inspector.cc
!/main.cc
!/README.md
!/tests.cc