# Ignore Everything
/*
/*/

# Except These
!/cmake/
!/include/
!/protos/
!/src/
!/scripts/
!/terraform/
!/tests/
!/.gitignore
!/.gitmodules
!/CMakeLists.txt
!/README.md
!/Dockerfile
!/main.cc
!/client.cc
!/tests.cc